/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

/* ~~~~~ GLOBAL RULES ~~~~~ */

body {
  margin: 40px;
  font-family: Tahoma;
  background-color: #f9f9f9;
  display: grid
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #f9f9f9
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* ~~~~~ HEADER ~~~~~ */

.a {
  grid-column: 1 /span 8;
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  background-color: #f9f9f9;
  color:#444;
  font-family: 'Segoe UI';
  height: 50%;
}

/*=== User Info ===*/

.userInfo {
  grid-column: 1;
  font-family: 'Segoe UI';
  display: grid;
  grid-template-columns: 2;
  grid-auto-rows: 2;
  width: 60%;
  font-size: 75%;
}
.userProfilePhoto {
  height: 10vh;
  border-radius: 5vh;
}
.username {
  grid-column: 2;
  grid-row: 1
}
.userSteps {
  grid-column: 2;
  grid-row: 2;
}

/*=== Menu Options ===*/

.actMenu {
  grid-column: 2;
  font-family: 'Segoe UI'
}
.hydMenu{
  grid-column: 3;
  font-family: 'Segoe UI'
}
.slpMenu{
  grid-column: 4;
  font-family: 'Segoe UI'
}

/* ~~~~~ SIDEBAR ~~~~~ */

.sidebarHeader {
  grid-column: 1;
  grid-row: 1 / span 2;
  font-family: 'Segoe UI';
  font-size: 25px;
  display: grid;
  grid-template-rows: .25fr 1fr;
  grid-gap: 5px;
  padding: 0px 0px 15px 0px;
  color: #444;
  text-align: center;
  align-items: center;
}
.d {
  grid-column: 1 / span 2;
  grid-row: 2 / span 7;
  border: 1px solid;
  border-color: #414143;
  color: #444;
  background-color: #fff;
  width: 80%;
  font-size: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

/*=== Team View ===*/
.teamHeader {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  font-size: 300%
}

.photo {
  grid-column: 1;
  grid-row: 1 / span 2
}
.teamImage{
  height: 8vh;
  border-radius: 5vh;
}
.steps {
  grid-column: 2;
  grid-row: 2;
}
.teamstats {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #414143;
  font-size: 200%;
}

/*=== Profile View ===*/

.profileUser {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  font-size: 300%
}

.profileName {
  grid-column: 1;
  grid-row: 3;
}

.profileAddress {
  grid-column: 1;
  grid-row: 4;
}
.profileEmail {
  grid-column: 1;
  grid-row: 5;
}
.profileStride {
  grid-column: 1;
  grid-row: 6;
}
.profileStepGoal {
  grid-column: 1;
  grid-row: 7;
}

.key {
  font-size: 200%;
  justify-self: left;
}

.profileUserPhoto {
  height: 20vh;
  border-radius: 10vh;
  justify-self: center
}
.viewTeam {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #414143;
  font-size: 200%;
  grid-column: 1;
  grid-row: 8;
}

.b {
  grid-column: 3 /span 6;
  grid-row: 6;
  background-color: #fff;
  color: #444;
  border: 1px solid;
  border-color: #414143;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr .9fr;
  padding: 0;
  padding-left: 3px;
  margin: 0;
}
.boxbName {
  grid-column: 1;
  grid-row: 1;
}
.boxbGraph {
  grid-column: 1;
  grid-row: 2;
}
.teammember {
  display: grid;
  grid-template-columns: 2;
  grid-auto-rows: 2;
}
.e {
  grid-column: 3 / span 6;
  grid-row: 2 / span 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  color: #444;
  background-color: #f9f9f9;
}
.widgetA {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.widgetB {
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}
.widgetC {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.widgetD {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.h {
  grid-column: 3 / span 6;
  grid-row: 7;
  background-color: #fff;
  color: #444;
  border: 1px solid;
  border-color: #414143;
  padding: 0;
  padding-left: 3px;
  margin: 0;
}
.j {
  grid-column: 2 / span 1;
  grid-row: 4 / span 2;
}
.k {
  grid-column: 3 / span 1;
  grid-row: 4 / span 2;
}
.g {
  grid-column: 3 / span 6;
  grid-row: 8 / span 1;
  background-color: #fff;
  border: 1px solid;
  color: #444;
  border-color: #414143;
  padding: 0;
  padding-left: 3px;
  margin: 0;
}
.i {
  grid-column: 3 /span 6;
  grid-row: 9 / span 1;
  background-color: #fff;
  border: 1px solid;
  color: #444;
  border-color: #414143;
  padding-left: 3px;
  padding-bottom: 40px;
  padding-top: 0;
}
.l {
  grid-column: 3 / span 6;
  grid-row: 10 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #f9f9f9;
  color: #444;

}
.m {
  grid-column: 1;
  background-color: #f9f9f9;
  color: #444;
  font-size: 50%;
}
.n {
  grid-column: 2;
  background-color: #f9f9f9;
  color: #444;
  font-size: 50%;
}
.o {
  grid-column: 3;
  background-color: #f9f9f9;
  color: #444;
  font-size: 50%;
}
.p {
  grid-column: 4;
  background-color: #f9f9f9;
  color: #444;
  font-size: 50%;
}
